<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652451640989-jcqanlcmb7nl7gk0u514qqe81916c029.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652451640989-jcqanlcmb7nl7gk0u514qqe81916c029</string>
	<key>API_KEY</key>
	<string>AIzaSyBawtutcACWOX-xUBM0vP0OMC-OgvVp62o</string>
	<key>GCM_SENDER_ID</key>
	<string>652451640989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scuAlumniConnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>scu-alumni-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>scu-alumni-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652451640989:ios:2ee86d21db50bd17f0c674</string>
</dict>
</plist>